#Basic

-variable
-input
-ouput

In [1]:
x = 1.90
y = "lucknow"

In [2]:
a = [1, 2, 3, 4]
b = {'name': 'raju', 'age': 12}

In [1]:
name = input("enter your name")

In [2]:
city = input("enter your city")
fav_movie = input("enter your fav movie")
fav_color = input("enter your fav color")

In [3]:
num1 = input("enter a number A")
num2 = input("enter a number B")

#Displaying Data

In [4]:
print('Welcome to Displaying Data') # static message to display

Welcome to Displaying Data

In [5]:
a = 'Alex'
b = 'Baron'
print(a) # display the value of a
print(b) # display the value of b

Alex
Baron

In [6]:
print(a, b)
print(a, a, a, a)

Alex Baron
Alex Alex Alex Alex

In [7]:
name = input('enter your name')
print('Your name is', name)

Your name is Pragati

In [8]:
num1 = input('enter a number')
num2 = input('enter another number')
print('The first num is', num1, 'and the second num is', num2)

The first num is 10 and the second num is 5

In [9]:
print('The first num is', num1)
print()
print('and the second num is', num2)

The first num is 10

and the second num is 5

displaying data with messages

comma seperated ✅
format string
format method
string concatenation
f-string

In [10]:
# format string
a, b, c = 5, 3.2, "Hello" # multiple assignment
print("the values are %d, %f, %s" % (a, b, c)) # %d = int, %f = float, %s = string
print("the values are %s, %d, %f" % (c, a, b)) 
print("the values are %s, %s, %s" % (c, a, b))

the values are 5, 3.200000, Hello
the values are Hello, 5, 3.200000
the values are Hello, 5, 3.2

In [11]:
# format method
print('the value of a=>{}, b=>{}, c=>{}'.format(a,b,c))

the value of a=>5, b=>3.2, c=>Hello

In [12]:
# string concatenation
print('Hello' + 'World')
print('the value of a=' + str(a))
print('the value of c=' + c)
print('the value of b=' + str(b))

HelloWorld
the value of a=5
the value of c=Hello
the value of b=3.2

In [13]:
# f-string
print(f'the value of a=>{a}, b=>{b}, c=>{c}')

the value of a=>5, b=>3.2, c=>Hello

#f-string setting

In [14]:
# formatting values
a,b = 10,3
print(f'{a}/{b} = {a/b}')
print(f'{a}/{b} = {a/b:.2f}') # .2f = 2 decimal places

10/3 = 3.3333333333333335
10/3 = 3.33

In [15]:
# alignment
name = 'Alex'
print(f'Your are {name}')
print(f'Your are {name:10}') # 10 here is number of characters for display 
print(f'Your are {name:>10}') # right alignment
print(f'Your are {name:^10}') # center alignment

Your are Alex
Your are Alex
Your are       Alex
Your are    Alex

In [1]:
a,b,c,d ='Apple', 'Blueberry', 'Cherry', 'Dragonfruit'
print(f'🍎 fruit 1: {a:>12}')
print(f'🍇 fruit 2: {b:>12}')
print(f'🍒 fruit 3: {c:>12}')
print(f'🍉 fruit 4: {d:>12}')

🍎 fruit 1:        Apple
🍇 fruit 2:    Blueberry
🍒 fruit 3:       Cherry
🍉 fruit 4:  Dragonfruit

operaters
arithmetic + - * / % // **
assignment = += -= *= /= and so on
comparison
logical and or not
relationship in
identity is
bitwise

In [17]:
x = 10
y = 3
print(f'{x} + {y} = {x+y}')
print(f'{x} - {y} = {x-y}')
print(f'{x} * {y} = {x*y}')
print(f'{x} / {y} = {x/y}')
print(f'{x} // {y} = {x//y}')
print(f'{x} % {y} = {x%y}')
print(f'{x} ** {y} = {x**y}')

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [18]:
eq = x**2 + y**2 % 10 - 5 * 2
print(eq)

99

In [1]:
x = 120
x += 5  # update x by adding 5
x *= 10 # update x by multiplying by 10
x /= 2  # update x by dividing by 2

In [20]:
print(x > y)  # greater than
print(x < y)  # less than
print(x == y) # equal to
print(x != y) # not equal to
print(x >= y) # greater than or equal to
print(x <= y) # less than or equal to

True
False
False
True
True
False

In [21]:
x + 10 > y - 5

True

In [22]:
x > y and x < 100

False

In [23]:
x > y and x > 100 # this will not be displayed 
x > 15 or y > 10

True

In [24]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print('cherry' in fruits)
print('Cherry' in fruits)
print('blueberry' in fruits)
print('apple' in fruits)

True
False
False
True

In [25]:
# this is not the best concept
f = fruits # f is a reference to fruits
print(f is fruits)
f2 = fruits.copy() # f2 is a copy of fruits
print(f2 is fruits)

True
False

#typecasting

In [26]:
x =  10
xf = float(x)
xs = str(x)
print(x, xf)
print(type(x), type(xf))
# checking if x is an integer
print(isinstance(x, int))
print(isinstance(xf, int))
print(isinstance(x, str))
print(isinstance(xs, (int, float)))
print(isinstance(x, (int, float)))

10 10.0
<class 'int'> <class 'float'>
True
False
False
False
True

In [27]:
int('20a') # this will not work

ValueError: invalid literal for int() with base 10: '20a'

In [28]:
ord('a') # returns the Unicode value of a character

97

In [29]:
print(chr(15108)) # returns the character of a Unicode value

㬄

In [30]:
a = int(input('enter a number'))
b = int(input('enter another number'))
print(a + b)

14

In [31]:
float('230.35')

230.35