#list
 creating
 indexing n slicing
 method
 comprehension

In [1]:
a = [] #empty list
b=[1,2,3,4]#numerical list
c= ['apple','banana','cherry',]#stringlist
d=['apple',1,'banana',2,'cherry',3] #mixed list
e=[[1,2,3],[4,5,6],[7,8,9]]   #list of list
f=[['apple',1],['banana',2],['cherry',3,120]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [2]:
for i in a:
    print(i)

In [4]:
for i in b:
    print(i)

1
2
3
4

In [5]:
for i in c:
    print(i)

apple
banana
cherry

In [8]:
g= list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3]* 5
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
movies = ['sita Raman','shershah','Major','Devdas','Yodha']
for i in movies:
    print(i)
print(movies)
print(len(movies))
print("first movie:",movies[0])
print("last movie:",movies[-1])
print("second movie:",movies[1])
print("third movie:",movies[2])

sita Raman
shershah
Major
Devdas
Yodha
['sita Raman', 'shershah', 'Major', 'Devdas', 'Yodha']
5
first movie: sita Raman
last movie: Yodha
second movie: shershah
third movie: Major

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:-2]) #first two and last two removes
print(numbers[::-1]) #reverse
print(numbers[:3]) #0,1,2
print(numbers[::2]) #8,9,10

[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[1, 3, 5, 7, 9]

#list methods(11)
 -adding/updating
   -`append()`   #add only one
   -`extend()`  #add  multiple 
   -`insert()`
 -removing/deleting
  -`remove()`
  -`pop()`
  -`clear()`
 -utility
  - sort()
  - reverse()
  - index()
  - count()
  - copy()

In [27]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("enter your fav book:")
    fav_books.append(book)
for i in range(3):
    book= input("enter your hated book: ")
    hated_books.append(book)

print("fav_books: ",fav_books)
print("hated books:",hated_books)

fav_books:  ['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '']
hated books: ['', '', 'hhhhhh,ghghhgh,gjgjgj']

In [28]:
hated_books.append("julius caesar")#add to the ebd
print(hated_books)

['', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar']

In [29]:
#merge two lists and create a new list
books=fav_books + hated_books
print(books)

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar']

In [33]:
#adding a list to existing list
books.extend(['Legion','Rithmatist','Steelheart'])
print(books)
print('total book:',len(books))

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart']
total book: 21

In [35]:
books.append('gfggfgfg','fhfhhfhf')
print(books)

TypeError: list.append() takes exactly one argument (2 given)

In [37]:
books.append(['ggggggg','fffffffff']) #nesting
print(books)

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', ['ggggggg', 'fffffffff'], ['ggggggg', 'fffffffff']]

In [42]:
books.insert(0,'vvvvv')
print(books)
books[3] = 'Pygmalion ' #replace at index 3
books

['vvvvv', 'vvvvv', 'vvvvv', 'vvvvv', 'harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', ['ggggggg', 'fffffffff'], ['ggggggg', 'fffffffff']]

['vvvvv',
 'vvvvv',
 'vvvvv',
 'Pygmalion ',
 'harry potter ,hero of ages,the final empire,oathbringer,way of the king',
 'new moon ,harddy boys,hhhhhhhh',
 '',
 '',
 '',
 '',
 '',
 'hhhhhh,ghghhgh,gjgjgj',
 'julius caesar',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 ['ggggggg', 'fffffffff'],
 ['ggggggg', 'fffffffff']]

In [47]:
books.remove('vvvvv') # remove by value

In [48]:
books.pop(6)#remove by index (pop)

''

In [50]:
books.pop(25)

IndexError: pop index out of range

In [51]:
books.pop()#remove by lats

['ggggggg', 'fffffffff']

In [52]:
hated_books.clear()#remove all elements
hated_books

[]

In [ ]:
#wap to create an empty list,then fill the list with 10 prime numbers using,staring with 2

In [2]:
def is_prime(num):
    """
    Check if a number is prime.
    A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.
    """
    if num <= 1:
        return False
    # Check divisibility from 2 up to the square root of num
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty list to store prime numbers
prime_numbers = []

# Variable to keep track of the current number to be checked
current_number = 2

# Loop until we have 10 prime numbers in the list
while len(prime_numbers) < 10:
    if is_prime(current_number):
        prime_numbers.append(current_number)
    current_number += 1

# Print the list of the first 10 prime numbers
print("The first 10 prime numbers are:", prime_numbers)

The first 10 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [3]:
def is_prime(num):
    """Check if a number is prime."""
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty list
prime_numbers = []

# Variable to keep track of the current number
current_number = 2

# Loop until we have 10 prime numbers
while len(prime_numbers) < 10:
    if is_prime(current_number):
        prime_numbers.append(current_number)
    current_number += 1

# Print the list of prime numbers
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

#utilities

In [1]:
numbers=[12,3,67,1,2,6,78,23,5,67,2]
#reverse
numbers[::-1]#gives the result but doesn't change the original list

[2, 67, 5, 23, 78, 6, 2, 1, 67, 3, 12]

In [2]:
numbers.reverse()  #changes the original list

In [3]:
numbers.sort()#ascending order,,changes the original list
print(numbers)
numbers.sort(reverse=True)  #descending order
print(numbers)

[1, 2, 2, 3, 5, 6, 12, 23, 67, 67, 78]
[78, 67, 67, 23, 12, 6, 5, 3, 2, 2, 1]

In [7]:
x = [[1, 12],[2, 5],[5, 10],[4, 15]]
x.sort()#sort by first element of each sublist
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [8]:
x.sort(key=lambda e:e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [9]:
x.sort(key=lambda i:sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [10]:
users = [('Alice',25),('Bob',19),('Alex',35)]
users.sort()
print(users)

[('Alex', 35), ('Alice', 25), ('Bob', 19)]

In [12]:
users.sort(key=lambda e:e[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [17]:
cart = [
    ['Mobile',25000,2],
    ['Laptop',60000,1],
    ['Watch',3000,3],
    ['headphones',1500,2],
]
cart.sort(key=lambda e:e[2])
print(cart)

[['Laptop', 60000, 1], ['Mobile', 25000, 2], ['headphones', 1500, 2], ['Watch', 3000, 3]]

In [18]:
cart.sort(key=lambda i:i[1]*i[2])  #according to toatal price
print(cart)

[['headphones', 1500, 2], ['Watch', 3000, 3], ['Mobile', 25000, 2], ['Laptop', 60000, 1]]

In [19]:
a = [1,2,3,1,1,2,2,3,4,4,5,5,1,1,1,1,1,0]
print("1 occurs:",a.count(1))
print("5 occurs:",a.count(5))

1 occurs: 8
5 occurs: 2

In [21]:
numbers.index(12) #gives the index of 12(first occurence)

4

In [24]:
a = [1,2,3,4,5]
b=a.copy()#shallow copy
c=a #reference copy
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

#comprehension

In [27]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a]
print(a)
print(a3)
a5 = [i-5 for i in a]
print(a5)
aeven2  = [i**2 for i in a if i%2==0]
print(aeven2)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]
[4, 16]

#rookie way

In [ ]:
aodd2 =[]
for i in a:
    if i%2!=0:
        aodd2.append(i**2)
#pythonic way
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)
#map and filters
#aodd2 = list(map(lambda i: i**2,filter(lambda i:i%2!=0,a))) #not good

In [34]:
names = ['Alice Smith','Bob Brown','Charlie Green','David White']
initials=[]
for n in names:
    parts=n.split()
    initials.append(f"{n.split()[0][0]}{n.split()[-1][0]}]")
print(initials)
#comprehension
initials = [f"{n.split()[0][0]}{n.split()[-1][0]}" for n in names]
print(initials)

['AS]', 'BB]', 'CG]', 'DW]']
['AS', 'BB', 'CG', 'DW']