# list
- creating
- indexing n slicing
- method
- comprehension

In [1]:
a = [] #empty list
b=[1,2,3,4]#numerical list
c= ['apple','banana','cherry',]#stringlist
d=['apple',1,'banana',2,'cherry',3] #mixed list
e=[[1,2,3],[4,5,6],[7,8,9]]   #list of list
f=[['apple',1],['banana',2],['cherry',3,120]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [1]:
for i in a:
    print(i)

NameError: name 'a' is not defined

In [4]:
for i in b:
    print(i)

1
2
3
4

In [5]:
for i in c:
    print(i)

apple
banana
cherry

In [8]:
g= list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3]* 5
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
movies = ['sita Raman','shershah','Major','Devdas','Yodha']
for i in movies:
    print(i)
print(movies)
print(len(movies))
print("first movie:",movies[0])
print("last movie:",movies[-1])
print("second movie:",movies[1])
print("third movie:",movies[2])

sita Raman
shershah
Major
Devdas
Yodha
['sita Raman', 'shershah', 'Major', 'Devdas', 'Yodha']
5
first movie: sita Raman
last movie: Yodha
second movie: shershah
third movie: Major

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:-2]) #first two and last two removes
print(numbers[::-1]) #reverse
print(numbers[:3]) #0,1,2
print(numbers[::2]) #8,9,10

[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[1, 3, 5, 7, 9]

### list methods(11)
 - adding/updating
   - `append()`   #add only one
   - `extend()`  #add  multiple 
   - `insert()`
 - removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
 - utility
  - sort()
  - reverse()
  - index()
  - count()
  - copy()

In [27]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("enter your fav book:")
    fav_books.append(book)
for i in range(3):
    book= input("enter your hated book: ")
    hated_books.append(book)

print("fav_books: ",fav_books)
print("hated books:",hated_books)

fav_books:  ['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '']
hated books: ['', '', 'hhhhhh,ghghhgh,gjgjgj']

In [28]:
hated_books.append("julius caesar")#add to the ebd
print(hated_books)

['', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar']

In [29]:
#merge two lists and create a new list
books=fav_books + hated_books
print(books)

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar']

In [33]:
#adding a list to existing list
books.extend(['Legion','Rithmatist','Steelheart'])
print(books)
print('total book:',len(books))

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart']
total book: 21

In [35]:
books.append('gfggfgfg','fhfhhfhf')
print(books)

TypeError: list.append() takes exactly one argument (2 given)

In [37]:
books.append(['ggggggg','fffffffff']) #nesting
print(books)

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', ['ggggggg', 'fffffffff'], ['ggggggg', 'fffffffff']]

In [42]:
books.insert(0,'vvvvv')
print(books)
books[3] = 'Pygmalion ' #replace at index 3
books

['vvvvv', 'vvvvv', 'vvvvv', 'vvvvv', 'harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', ['ggggggg', 'fffffffff'], ['ggggggg', 'fffffffff']]

['vvvvv',
 'vvvvv',
 'vvvvv',
 'Pygmalion ',
 'harry potter ,hero of ages,the final empire,oathbringer,way of the king',
 'new moon ,harddy boys,hhhhhhhh',
 '',
 '',
 '',
 '',
 '',
 'hhhhhh,ghghhgh,gjgjgj',
 'julius caesar',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 ['ggggggg', 'fffffffff'],
 ['ggggggg', 'fffffffff']]

In [47]:
books.remove('vvvvv') # remove by value

In [48]:
books.pop(6)#remove by index (pop)

''

In [50]:
books.pop(25)

IndexError: pop index out of range

In [51]:
books.pop()#remove by lats

['ggggggg', 'fffffffff']

In [52]:
hated_books.clear()#remove all elements
hated_books

[]

In [ ]:
#wap to create an empty list,then fill the list with 10 prime numbers using,staring with 2

In [2]:
def is_prime(num):
    """
    Check if a number is prime.
    A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.
    """
    if num <= 1:
        return False
    # Check divisibility from 2 up to the square root of num
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty list to store prime numbers
prime_numbers = []

# Variable to keep track of the current number to be checked
current_number = 2

# Loop until we have 10 prime numbers in the list
while len(prime_numbers) < 10:
    if is_prime(current_number):
        prime_numbers.append(current_number)
    current_number += 1

# Print the list of the first 10 prime numbers
print("The first 10 prime numbers are:", prime_numbers)

The first 10 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [3]:
def is_prime(num):
    """Check if a number is prime."""
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty list
prime_numbers = []

# Variable to keep track of the current number
current_number = 2

# Loop until we have 10 prime numbers
while len(prime_numbers) < 10:
    if is_prime(current_number):
        prime_numbers.append(current_number)
    current_number += 1

# Print the list of prime numbers
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

#utilities

In [1]:
numbers=[12,3,67,1,2,6,78,23,5,67,2]
#reverse
numbers[::-1]#gives the result but doesn't change the original list

[2, 67, 5, 23, 78, 6, 2, 1, 67, 3, 12]

In [2]:
numbers.reverse()  #changes the original list

In [3]:
numbers.sort()#ascending order,,changes the original list
print(numbers)
numbers.sort(reverse=True)  #descending order
print(numbers)

[1, 2, 2, 3, 5, 6, 12, 23, 67, 67, 78]
[78, 67, 67, 23, 12, 6, 5, 3, 2, 2, 1]

In [7]:
x = [[1, 12],[2, 5],[5, 10],[4, 15]]
x.sort()#sort by first element of each sublist
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [8]:
x.sort(key=lambda e:e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [9]:
x.sort(key=lambda i:sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [10]:
users = [('Alice',25),('Bob',19),('Alex',35)]
users.sort()
print(users)

[('Alex', 35), ('Alice', 25), ('Bob', 19)]

In [12]:
users.sort(key=lambda e:e[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [17]:
cart = [
    ['Mobile',25000,2],
    ['Laptop',60000,1],
    ['Watch',3000,3],
    ['headphones',1500,2],
]
cart.sort(key=lambda e:e[2])
print(cart)

[['Laptop', 60000, 1], ['Mobile', 25000, 2], ['headphones', 1500, 2], ['Watch', 3000, 3]]

In [18]:
cart.sort(key=lambda i:i[1]*i[2])  #according to toatal price
print(cart)

[['headphones', 1500, 2], ['Watch', 3000, 3], ['Mobile', 25000, 2], ['Laptop', 60000, 1]]

In [19]:
a = [1,2,3,1,1,2,2,3,4,4,5,5,1,1,1,1,1,0]
print("1 occurs:",a.count(1))
print("5 occurs:",a.count(5))

1 occurs: 8
5 occurs: 2

In [21]:
numbers.index(12) #gives the index of 12(first occurence)

4

In [24]:
a = [1,2,3,4,5]
b=a.copy()#shallow copy
c=a #reference copy
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

#### comprehension
- List comprehension in Python is a concise and efficient way to create lists. It allows you to generate a new list by applying an expression to each element of an iterable, optionally including conditions to filter elements. 
- `[expression for item in iterable]`

- expression: The value or operation applied to each item.
- item: Each element in the iterable.
- iterable: The sequence (e.g., list, tuple, string) you are iterating over.

In [27]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a]
print(a)
print(a3)
a5 = [i-5 for i in a]
print(a5)
aeven2  = [i**2 for i in a if i%2==0]
print(aeven2)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]
[4, 16]

#rookie way

In [ ]:
aodd2 =[]
for i in a:
    if i%2!=0:
        aodd2.append(i**2)
#pythonic way
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)
#map and filters
#aodd2 = list(map(lambda i: i**2,filter(lambda i:i%2!=0,a))) #not good

In [34]:
names = ['Alice Smith','Bob Brown','Charlie Green','David White']
initials=[]
for n in names:
    parts=n.split()
    initials.append(f"{n.split()[0][0]}{n.split()[-1][0]}]")
print(initials)
#comprehension
initials = [f"{n.split()[0][0]}{n.split()[-1][0]}" for n in names]
print(initials)

['AS]', 'BB]', 'CG]', 'DW]']
['AS', 'BB', 'CG', 'DW']

# tuples
 - creating
 - indexing and slicing
 - methods
 - packing n unpacking

In [2]:
x = () #empty tuple
y = (1,) #single element tuple
z = (1,2,3,4,56,) 
print(z)
print(y)
print(x,y,z)
a=((1,2),(3,4),(5,6)) #nested tuple
b= ('a',1,'b',2,'c',3 )#mixed tuple
c =(1,)*5 #duplicated tuple
d= tuple('stormlight archives') #tuple from string
e = tuple(range(10))
print(a)
print(b)
print(c)
print(d)
print(e)

(1, 2, 3, 4, 56)
(1,)
() (1,) (1, 2, 3, 4, 56)
((1, 2), (3, 4), (5, 6))
('a', 1, 'b', 2, 'c', 3)
(1, 1, 1, 1, 1)
('s', 't', 'o', 'r', 'm', 'l', 'i', 'g', 'h', 't', ' ', 'a', 'r', 'c', 'h', 'i', 'v', 'e', 's')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
e[4::-1]  #-1makes this go in reverse order

(4, 3, 2, 1, 0)

# Method
- index(search) and  count

In [19]:
fruits = ('apple','banana','cherry','apple','cherry')
print(fruits.index('apple'))
print(fruits.index('apple',1)) #search starts from idx 1
print(fruits.count('apple'))
print(fruits.count('banana'))
print(fruits.count('mango'))

0
3
2
1
0

 ``packing``

In [20]:
x = 1,2,3   #tuple packing ...python uses the tuple mostly 
print(x)

(1, 2, 3)

In [13]:
def stats(*data):
    total = sum(data)
   
    avg = total/len(data)
    print(data)
    return total, round(avg,2)  #round method to round off to 2 decimal places

In [14]:
s = stats(1,2,354,67,34)
print(s)

(1, 2, 354, 67, 34)
(458, 91.6)

In [29]:
a,b = 12,45   #tuple unpacking
print(a,b)

12 45

In [34]:
#unpacking error (too many or not enough variables)

a,b,c = 12,45    
a,b = 12,34,45
total,mean,max = stats(12,23,45,67,78,)
print(a,b,c)
print(a,b)

ValueError: not enough values to unpack (expected 3, got 2)

In [35]:
a,b,c = (1,2,3,4,5,5,5,5) #not possinble

ValueError: too many values to unpack (expected 3)

In [36]:
a,b,*c = (1,2,3,4,5,5,5) #c is a list
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 5, 5]

# Set
 - creating
 - methods
 - set operations
   - union
   - intersection
   - difference
   - symmetric difference
   - issubset
   - issuperset

In [39]:
x= set()  #empty set
y = {1,2,3,4,5 } #set with elements
z = {1,2,2,3,3,4,4,5,5,5} #set removes duplicates
print(x)
print(y)
print(z)

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [6]:
a = set('hello') #set from string
print(a)

{'h', 'o', 'l', 'e'}

In [5]:
b = set([23,5,45,65,45,12,45,6])
print(b)
c=set(range(10))
for i in c:
    
    print(i ,end=' ')

{65, 5, 6, 12, 45, 23}
0 1 2 3 4 5 6 7 8 9

In [52]:
data = set()
data.add(12)#add element
data.add(2)#add element
data.add(12)#add element
data.add(5) #add element
print(data)

{2, 12, 5}

In [61]:
data.update([23,45,76,67,])#add multiple elements
print(data)

{67, 76, 45, 23}

In [62]:
data.discard(23)  #remove element
data.remove(98)  #remove element (error if not present)
print(data)

KeyError: 98

In [63]:
data.pop()#remove random element
print(data)
data.clear() #remove all elemts
print(data)

{76, 45}
set()

# operation

In [65]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {11,12,13}
print(a.union(b))
print(a|b)#| is use for union

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
print(a.intersection(b))
print(a&b)  #& is intersection operator
print(a.difference(b))
print(a-b)  #-is difference operator
print(b-a)
print(b.difference(a))

{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [69]:
print(a|c)
print(a&c)
print(a-c)
print(a^c)

{1, 2, 3, 4, 5, 11, 12, 13}
set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11, 12, 13}

In [72]:
d= {1,2,3,}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))

False
False
True

In [74]:
print(d.issubset(a))
print(d.issubset(b))
print(d.issubset(c))

True
False
False

In [76]:
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

False
True
False

# conversion

In [78]:
a = [1,2,3,4 ,5,]
a_set = set(a)
a_tuple = tuple(a)
print(a)
print(a_set)
print(a_tuple)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

In [79]:
a_list = list(a_set)
print(a_list)

[1, 2, 3, 4, 5]

In [80]:
x = [1,2,3,3,4,5,5,6,5,1,1,1,1 ,1 ,1,]
print(x)
x =list(set(x))  #set - > remove duplicates->list->x
print(x)

[1, 2, 3, 3, 4, 5, 5, 6, 5, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 4, 5, 6]

# dictionary
- creation
- traversal
- method
- sorting
- comprehension

syntax:

{
    key: value,
    key: value,
    key: value,
    
}

In [5]:
fruits = {
    'apple':'red',
    'banana': 'yellow',
    'cherry': 'red',
    'orange':'orange',
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [6]:
temp = {
    'lucknow' : [25,30,35],
    'delhi':[30,35,40],
    'chennai' :[24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [7]:
nums = {
    1:'ichi',
    10:'ju',
    100:'hyaku'

}
print(nums)

{1: 'ichi', 10: 'ju', 100: 'hyaku'}

In [8]:
complicated = {
    (1,2) : 'double',
    (1,3,4):'triple',
    (1,2,3,4):'quadruple',
}
print(complicated)

{(1, 2): 'double', (1, 3, 4): 'triple', (1, 2, 3, 4): 'quadruple'}

In [9]:
info = dict(name='raju',age=25,marks=[56,73,76])
print(info)

{'name': 'raju', 'age': 25, 'marks': [56, 73, 76]}

In [ ]:
info2 = dict(name=input(),age=int(input()))

In [11]:
#nested dictionary
report={
    'alex':{
        'english':85,
        'maths': 90,
        'science': 78,
    },
    'rahul':{
        'english':80,
        'maths':85,
        'science':90,
    },
}
print(report)

{'alex': {'english': 85, 'maths': 90, 'science': 78}, 'rahul': {'english': 80, 'maths': 85, 'science': 90}}

In [12]:

from pprint import pp #prettyprint   # for making th e dictionary in a better format

In [13]:
pp(report)

{'alex': {'english': 85, 'maths': 90, 'science': 78},
 'rahul': {'english': 80, 'maths': 85, 'science': 90}}

In [15]:
fruits['orange']

'orange'

In [16]:
fruits['apple']

'red'

In [17]:
fruits['banana']

'yellow'

In [18]:
report['alex']

{'english': 85, 'maths': 90, 'science': 78}

In [19]:
temp['lucknow']

[25, 30, 35]

In [20]:
report['alex']['maths']

90

In [26]:
print(temp['delhi'][0])
print(temp['delhi'][-1])
print('avg temp of delhi',sum(temp['delhi'])/len(temp['delhi']))

30
40
avg temp of delhi 35.0

In [27]:
#all keys of a dictionary
print(fruits.keys())
print(temp.keys())

dict_keys(['apple', 'banana', 'cherry', 'orange'])

In [28]:
fruits_names = list(fruits.keys())
print(fruits_names)

['apple', 'banana', 'cherry', 'orange']

In [30]:
print(fruits.values())
print(temp.values())
print(report.values())

dict_values(['red', 'yellow', 'red', 'orange'])
dict_values([[25, 30, 35], [30, 35, 40], [24, 23, 22]])
dict_values([{'english': 85, 'maths': 90, 'science': 78}, {'english': 80, 'maths': 85, 'science': 90}])

In [31]:
for item in fruits:
    print(item)

apple
banana
cherry
orange

In [35]:
for item in fruits:
    print(item)

apple
banana
cherry
orange

In [36]:
for key in fruits:
    print(key,fruits[key])

apple red
banana yellow
cherry red
orange orange

In [40]:
#traverse using . items() method
for k,v in fruits.items():
    print(k,v)

apple red
banana yellow
cherry red
orange orange

In [41]:
#traverse only value
for v in fruits.values():
    print(v)

red
yellow
red
orange

In [46]:
#total marks of all students
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print("->",subject,mark)
    print("->\t total marks",sum(marks.values()))

alex
-> english 85
-> maths 90
-> science 78
->	 total marks 253
rahul
-> english 80
-> maths 85
-> science 90
->	 total marks 255

In [47]:
#there is no method to add a single value to a dictionary (just a simple assignment)
fruits['mango'] = 'yellow'#add
fruits['grapes' ] = 'green' #add
fruits['apple'] = 'green'#update
pp(fruits)

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green'}

In [48]:
#adding small dictionary to a big dictionary
dry_fruits = {'Date':'Brown','Almond':'Brown','Cashew':'white'}
fruits.update(dry_fruits)#merge the dry_fruits dictionary to fruits
pp(fruits)

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green',
 'Date': 'Brown',
 'Almond': 'Brown',
 'Cashew': 'white'}

In [52]:
#get method -> error free way to access dictionary values 
#fruits['raisin']  #error if key not present
print(fruits.get('raisin') ) #it means that the data is none when not present raisin
print(fruits.get('date') )  #error free way to get a data
print(fruits.get('apple','no valuve found') )
print(fruits.get('gauva', 'no value ffound') )

None
None
green
no value ffound

In [53]:
#remove 
fruits.pop('banana') #remove by key =>returns the value

'yellow'

In [54]:
pp(fruits)

{'apple': 'green',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green',
 'Date': 'Brown',
 'Almond': 'Brown',
 'Cashew': 'white'}

In [55]:
#sorting
sorted

In [58]:
#sortingonkeys
sorted(fruits.items())

[('Almond', 'Brown'),
 ('Cashew', 'white'),
 ('Date', 'Brown'),
 ('apple', 'green'),
 ('cherry', 'red'),
 ('grapes', 'green'),
 ('mango', 'yellow'),
 ('orange', 'orange')]

In [59]:
sorted(fruits.items(),key=lambda i: i[1])

[('Date', 'Brown'),
 ('Almond', 'Brown'),
 ('apple', 'green'),
 ('grapes', 'green'),
 ('orange', 'orange'),
 ('cherry', 'red'),
 ('Cashew', 'white'),
 ('mango', 'yellow')]

In [60]:
dict(sorted(fruits.items(),key=lambda i: i[1]))

{'Date': 'Brown',
 'Almond': 'Brown',
 'apple': 'green',
 'grapes': 'green',
 'orange': 'orange',
 'cherry': 'red',
 'Cashew': 'white',
 'mango': 'yellow'}

In [62]:
sorted(fruits.items(),key=lambda i: i[1],reverse=True)

[('mango', 'yellow'),
 ('Cashew', 'white'),
 ('cherry', 'red'),
 ('orange', 'orange'),
 ('apple', 'green'),
 ('grapes', 'green'),
 ('Date', 'Brown'),
 ('Almond', 'Brown')]

In [64]:
clean_fruits ={}
for k,v in fruits.items():
    clean_fruits[k.lower()]=v.upper()
pp(clean_fruits)

{'apple': 'GREEN',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'mango': 'YELLOW',
 'grapes': 'GREEN',
 'date': 'BROWN',
 'almond': 'BROWN',
 'cashew': 'WHITE'}

In [65]:
#the comprehension way
clean_fruits={k.lower():v.upper()for k,v in fruits.items()}
pp(clean_fruits)

{'apple': 'GREEN',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'mango': 'YELLOW',
 'grapes': 'GREEN',
 'date': 'BROWN',
 'almond': 'BROWN',
 'cashew': 'WHITE'}

In [67]:
avg_temps = {city:sum(data)/len(data) for city,data in temp.items()}
pp(avg_temps)

{'lucknow': 30.0, 'delhi': 35.0, 'chennai': 23.0}