#list
 creating
 indexing n slicing
 method
 comprehension

In [1]:
a = [] #empty list
b=[1,2,3,4]#numerical list
c= ['apple','banana','cherry',]#stringlist
d=['apple',1,'banana',2,'cherry',3] #mixed list
e=[[1,2,3],[4,5,6],[7,8,9]]   #list of list
f=[['apple',1],['banana',2],['cherry',3,120]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [2]:
for i in a:
    print(i)

In [4]:
for i in b:
    print(i)

1
2
3
4

In [5]:
for i in c:
    print(i)

apple
banana
cherry

In [8]:
g= list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3]* 5
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
movies = ['sita Raman','shershah','Major','Devdas','Yodha']
for i in movies:
    print(i)
print(movies)
print(len(movies))
print("first movie:",movies[0])
print("last movie:",movies[-1])
print("second movie:",movies[1])
print("third movie:",movies[2])

sita Raman
shershah
Major
Devdas
Yodha
['sita Raman', 'shershah', 'Major', 'Devdas', 'Yodha']
5
first movie: sita Raman
last movie: Yodha
second movie: shershah
third movie: Major

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:-2]) #first two and last two removes
print(numbers[::-1]) #reverse
print(numbers[:3]) #0,1,2
print(numbers[::2]) #8,9,10

[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[1, 3, 5, 7, 9]

#list methods(11)
 -adding/updating
   -`append()`   #add only one
   -`extend()`  #add  multiple 
   -`insert()`
 -removing/deleting
  -`remove()`
  -`pop()`
  -`clear()`
 -utility
  - sort()
  - reverse()
  - index()
  - count()
  - copy()

In [27]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("enter your fav book:")
    fav_books.append(book)
for i in range(3):
    book= input("enter your hated book: ")
    hated_books.append(book)

print("fav_books: ",fav_books)
print("hated books:",hated_books)

fav_books:  ['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '']
hated books: ['', '', 'hhhhhh,ghghhgh,gjgjgj']

In [28]:
hated_books.append("julius caesar")#add to the ebd
print(hated_books)

['', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar']

In [29]:
#merge two lists and create a new list
books=fav_books + hated_books
print(books)

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar']

In [33]:
#adding a list to existing list
books.extend(['Legion','Rithmatist','Steelheart'])
print(books)
print('total book:',len(books))

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart']
total book: 21

In [35]:
books.append('gfggfgfg','fhfhhfhf')
print(books)

TypeError: list.append() takes exactly one argument (2 given)

In [37]:
books.append(['ggggggg','fffffffff']) #nesting
print(books)

['harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', ['ggggggg', 'fffffffff'], ['ggggggg', 'fffffffff']]

In [42]:
books.insert(0,'vvvvv')
print(books)
books[3] = 'Pygmalion ' #replace at index 3
books

['vvvvv', 'vvvvv', 'vvvvv', 'vvvvv', 'harry potter ,hero of ages,the final empire,oathbringer,way of the king', 'new moon ,harddy boys,hhhhhhhh', '', '', '', '', '', 'hhhhhh,ghghhgh,gjgjgj', 'julius caesar', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', 'Legion', 'Rithmatist', 'Steelheart', ['ggggggg', 'fffffffff'], ['ggggggg', 'fffffffff']]

['vvvvv',
 'vvvvv',
 'vvvvv',
 'Pygmalion ',
 'harry potter ,hero of ages,the final empire,oathbringer,way of the king',
 'new moon ,harddy boys,hhhhhhhh',
 '',
 '',
 '',
 '',
 '',
 'hhhhhh,ghghhgh,gjgjgj',
 'julius caesar',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 'Legion',
 'Rithmatist',
 'Steelheart',
 ['ggggggg', 'fffffffff'],
 ['ggggggg', 'fffffffff']]

In [47]:
books.remove('vvvvv') # remove by value

In [48]:
books.pop(6)#remove by index (pop)

''

In [50]:
books.pop(25)

IndexError: pop index out of range

In [51]:
books.pop()#remove by lats

['ggggggg', 'fffffffff']

In [52]:
hated_books.clear()#remove all elements
hated_books

[]

In [ ]:
#wap to create an empty list,then fill the list with 10 prime numbers using,staring with 2