# programming flow

- conditional flow
- if
- if else
- if elif else
- match case
- iterative flow
- for loop
- while loop

In [1]:
if 'hello':
    print('hello everyone')

hello everyone

In [2]:
x = 'hello'
if len(x) >= 5: 
    print('hello everyone')

hello everyone

In [3]:
a = int(input('Enter a number: '))
if a * 2 > 100:
    print('a * 2 is greater than 100')
if a + 50 > 150:
    print('a + 50 is greater than 150')

a * 2 is greater than 100
a + 50 is greater than 150

In [4]:
x = int(input('Enter a number: '))
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is even

### wap to find out the total salary of the employee based on the following data

- salary : user inputted
- hra = 5%
- da = 3.3 %
- ta = 2.61 %
- total = salary + da + ta + hra

- rule if hra is less than 1000 then dont add hra to total

In [5]:
name = input("What movie did you watch?")
num_str = input('Enter movie rating')
if num_str.isnumeric():
    num = int(num_str)
    print(f"Movie: {name}")
    if num == 1:
        print('⭐ (terrible)')
    elif num == 2:
        print('⭐⭐ (bad)')
    elif num == 3:
        print('⭐⭐⭐ (average)')
    elif num == 4:
        print('⭐⭐⭐⭐ (good)')
    elif num == 5:
        print('⭐⭐⭐⭐⭐ (excellent)')
    else:
        print('⚠️ Invalid rating ⚠️')
else:
    print('You are stupid, just watch movies')

Movie: bollywood
⚠️ Invalid rating ⚠️

In [6]:
# match case - use this to match multiple values
day = input('Enter a day of the week: ')
match day.lower():
    case 'monday'|'tuesday'|'wednesday'|'friday':
        print('Data science/Data analysis class')
    case 'thursday':
        print('Class Off')
    case 'saturday'|'sunday':
        print('Weekend (no class)')
    case _: # default case
        print('Invalid day')

Data science/Data analysis class

#single line condition

In [7]:
x = int(input('Enter a number: '))
print("above 100") if x > 100 else print("below 100" )

below 100

#### Loop
- step based
- traversal
- for var in iterable:
-     statement...

while loop
condition based

In [1]:
for v in 'helloooo':
    print(v)  #v=value

h
e
l
l
o
o
o
o

In [2]:
colors = ['red', 'green', 'blue']
for i in colors:
    print(i)   #i=index

red
green
blue

In [3]:
# index and value
for i, v in enumerate(colors):
    print(i, v)

0 red
1 green
2 blue

In [4]:
numlist = [12,56,7,2,6,10,20]
for num in numlist:
    print(f'{num:<2} => {num * 10:<3}')

12 => 120
56 => 560
7  => 70
2  => 20
6  => 60
10 => 100
20 => 200

In [5]:
# rookie way
seq = [1,2,3,4,5,6,7,8,9,10]
num = 13
for i in seq:
    print(f'{num} * {i} = {num * i}')

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

range(value) => start from 0 go till value - 1

range(a, b) => start from a go till b-1

range(a, b, c) => start from a go till b-1 with c as step (gap)

In [6]:
num = 13
for i in range(10,101, 5):
    print(f'{num} * {i} = {num * i}')

13 * 10 = 130
13 * 15 = 195
13 * 20 = 260
13 * 25 = 325
13 * 30 = 390
13 * 35 = 455
13 * 40 = 520
13 * 45 = 585
13 * 50 = 650
13 * 55 = 715
13 * 60 = 780
13 * 65 = 845
13 * 70 = 910
13 * 75 = 975
13 * 80 = 1040
13 * 85 = 1105
13 * 90 = 1170
13 * 95 = 1235
13 * 100 = 1300

In [7]:
# only even numbers
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
# reverse loop
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

5 - jun - 24

nested
break and continue
for-else

In [9]:
for i in range(1, 11):
    for j in range(1, 4):
        print(i, j, end=', ')
    print()

1 1, 1 2, 1 3,
2 1, 2 2, 2 3,
3 1, 3 2, 3 3,
4 1, 4 2, 4 3,
5 1, 5 2, 5 3,
6 1, 6 2, 6 3,
7 1, 7 2, 7 3,
8 1, 8 2, 8 3,
9 1, 9 2, 9 3,
10 1, 10 2, 10 3,

In [10]:
cdata = [
    [1, 'John', 25],
    [2, 'Jane', 22],
    [3, 'Doe', 30, 'Engineer']
]

for row in cdata:
    for item in row:
        print(item, end=' | ')
    print()

1 | John | 25 |
2 | Jane | 22 |
3 | Doe | 30 | Engineer |

In [11]:
more_data = [
    [[12,45,67], [23,45,67], [34,56,78]],
    [[23,45,23], [34,56,78]],
]

for i in more_data:
    for j in i:
        for k in j:
            print(k, end=' ')
        print()
    print()

12 45 67
23 45 67
34 56 78

23 45 23
34 56 78

In [12]:
x = [1,2,3,4,5,5,1,6,7,8,9,10]
for i in x:
    if i < 0:
        break
    print(i)
print('loop executed')

1
2
3
4
5
5
1
6
7
8
9
10
loop executed

In [13]:
data_with_crap = [1,2,3,'4','5',6,'7',8,9,'10',11,'12',13,14,15]
for i in data_with_crap:
    if isinstance(i, str):
        continue
    print(i, end=' ')
    
###########alternative############
print('\nalternate way')
for i in data_with_crap:
    if isinstance(i, int):
        print(i, end=' ')

1 2 3 6 8 9 11 13 14 15
alternate way
1 2 3 6 8 9 11 13 14 15

In [14]:
# adding a check for loop completion
data = [1,2,3,4,5,6,7,8,9,10]
stop_val = int(input('Enter a number to stop at: '))
for i in data:
    if stop_val == i:
        print(f"Loop stopped at {i}")
        break
    print(i)
else:
    print("Loop completed all steps")

1
2
3
4
5
6
7
8
9
Loop stopped at 10

In [15]:
i = 10
while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

- 4567 % 10 => 7 (unit place) 4567 // 10 => 456 (remaining)
- 456 % 10 => 6 (unit place) 456 // 10 => 45 (remaining) 
- 45 % 10 => 5 (unit place) 45 // 10 => 4 (remaining) 
- 4 % 10 => 4 (unit place) 4 // 10 => 0

In [16]:
sum([12,34,4,5,6,7])

68

In [17]:
print=('hi') # this is stupid
sum = 20 # this should not be done
del sum # delete the variable sum so that life can be easier
del print # delete the print function so that you can do other things

In [18]:
# sum of all digits 12345 => 1+2+3+4+5 = 15
num = int(input("Enter a number: "))
total = 0
while num > 0:
    total += num % 10
    num = num // 10
print(total)

6