creating
indexing and slicing
methods
tips n tricks

In [1]:
a = 'apple'
b = "apple"
c = '''this is 
very useful
in multiline messages
'''
d = str(8329)

In [2]:
# types of strings
# f-string
x = f'{a} is a fruit'
print(x)
# raw string
addr = r'c:\users\pragati\desktop'
print(addr)
# unicode string
uni = u'hello'
print(uni)
# byte string
byt = b'hello'
print(byt)

apple is a fruit
c:\users\pragati\desktop
hello
b'hello'

In [3]:
v = 'encyclopedia'
print(v[0]) # first index
print(v[1]) # second index
print(v[2]) # third index
print(v[11]) # last index
print(v[-1]) # last index
print(v[-12]) # first index
print('second last', v[-2])
print('sixth last', v[-6])

e
n
c
a
a
e
second last i
sixth last o

Slicing in python
x[Start:stop
]

In [1]:
a='Enclycopedia'
print(len(a))
print(a[2:8])#last index is not included

12
clycop

In [4]:
name='Vijay deenanath chauhan'
firstname=name[0:5]
print(firstname)
middlename = name[6:15]
print(middlename)
lastname=name[16:23]
print(lastname)

Vijay
deenanath
chauhan

In [5]:
name[:5] #first 5 character

'Vijay'

In [6]:
name[6:]#from 6th character to end

'deenanath chauhan'

In [7]:
name[16:] #from 16th idx to end

'chauhan'

In [10]:
msg='Once upon a time,there was a place called eternia'
msg[-7:]
msg[12:16]

'time'

In [11]:
amt='$800999'
amt=int(amt[1:])
print(amt)

800999

In [14]:
msg[:]#not define starting and ending   (print all)
msg#it is also use to print all

'Once upon a time,there was a place called eternia'

In [15]:
msg[::2]#every 2nd character(even index)

'Oc pnatm,hr a  lc aldeena'

In [18]:
msg[1::2] #every 2nd character (odd index)

'Oc pnatm,hr a  lc aldeena'

In [19]:
#most OP thing in slicing
msg[::-1]#reverse the string

'ainrete dellac ecalp a saw ereht,emit a nopu ecnO'

In [20]:
msg[::-1][:5]

'ainre'

In [21]:
name

'Vijay deenanath chauhan'

In [23]:
name[6:15][::-1]

'htananeed'

String methods
-formatting
-validation
-find & replace 
-etc.

In [29]:
quote="All the glitter is not Gold"
quote_upper = quote.upper()
print(quote)
print(quote_upper)
quote_lower = quote.lower()
print(quote_lower)
quote_capitalize = quote.capitalize()
print(quote_capitalize)
quote_title =quote.title()
print(quote_title)
quote_casefold = quote.casefold()
print(quote_casefold)

All the glitter is not Gold
ALL THE GLITTER IS NOT GOLD
all the glitter is not gold
All the glitter is not gold
All The Glitter Is Not Gold
all the glitter is not gold

In [33]:
quote.rjust(50)

'                       All the glitter is not Gold'

In [34]:
quote.rjust(50,'_')   #"_"fill character is not neccessay it is optional
#50 is length kitna right shift krna hai

'_______________________All the glitter is not Gold'

is type function   validation code

In [35]:
name.isnumeric()    # gives true or false

False

In [36]:
fname=input("enter ur name:(dont use member)")
if fname.isalpha():       #no spaces valid
    print("valid name,very good")
else:
    print("what kind of name is this?")

what kind of name is this?

In [37]:
#find and index methods for searching in strings
msg

'Once upon a time,there was a place called eternia'

In [38]:
msg.find('place')  #returns the index of the first occurence of the substring

29

In [43]:

data='''Roshar is a place of magic and wonder,place of knights and kings.its a place of highstorms and shardblades'''
print(data.find('place'))
print(data.find('place',13)) # 13 is the starting index for searching
print(data.find('Place'))#-1 means not found
print(data.lower().find('place'))#-1means not found
#reverse find
print(data.rfind('place'))#returns the index of the last occurence of the substring

12
38
-1
12
71

In [44]:
#replace method
data.replace('place','world')

'Roshar is a world of magic and wonder,world of knights and kings.its a world of highstorms and shardblades'

In [45]:
data.replace('o','a')

'Rashar is a place af magic and wander,place af knights and kings.its a place af highstarms and shardblades'

In [46]:
data.replace('i','e').replace('k','c').replace('a','b')

'Roshbr es b plbce of mbgec bnd wonder,plbce of cneghts bnd cengs.ets b plbce of heghstorms bnd shbrdblbdes'

In [52]:
data.replace(' ','_',3)  #3=starting 3 (no.of replacement)

'Roshar_is_a_place of magic and wonder,place of knights and kings.its a place of highstorms and shardblades'

In [49]:
print(data.replace(' ','_',3) )

Roshar_is_a_place of magic and wonder,place of knights and kings.its a place of highstorms and shardblades